/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.shadow2 {
  float: right;
  width:280px;


}
.shadow1 {
  width: 660px;
  float: left;

}

#col-3::after {
    content: "";
    clear: both;
    display: table;

}

.shadow3{
    float: left;
    width: 31%;
    padding: 15px;
      margin: 1%;
}
.shadow4{
    float: left;
    width: 31%;
    padding: 15px;
      margin: 1%;
}
.shadow5{
    float: left;
    width: 31%;
    padding: 15px;
      margin: 1%;
}
.first{
  margin-left: 0%;
}
.border_right{
  float: left;
  width: 32%;
  background: #ccc;
}